$ua-font-size: 16px !default;
$ua-font-default: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif !default;
$ua-font-heading: 'Patua One', courier, serif !default;
$ua-font-mono: 'Inconsolata', monospace !default;
