$ua-font-size: 19px !default;
$ua-font-default: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif !default;
$ua-font-heading: 'Patua One', courier, serif !default;
$ua-font-mono: 'Inconsolata', monospace !default;

$ua-xs-width: 600px !default;
$ua-sm-width: 960px !default;
$ua-md-width: 1280px !default;
$ua-lg-width: 1920px !default;
