ua-nav {
  display: flex;
  justify-content: center;

  > .ua-syntax {
    padding-left: 15%;

    @include layout-xs {
      padding-left: 0;
    }
  }

  nav {
    padding: 0.1em 0 0.1em 2em;
  }

  @include layout-gt-xs {
    justify-content: flex-start;

    nav {
      display: inline-block;
      padding: 0;
    }
  }
}
