$ua-base00: #2d2d2d;
$ua-base01: #393939;
$ua-base02: #515151;
$ua-base03: #747369;
$ua-base04: #a09f93;
$ua-base05: #d3d0c8;
$ua-base06: #e8e6df;
$ua-base07: #f2f0ec;
$ua-base08: #f2777a;
$ua-base09: #f99157;
$ua-base0A: #ffcc66;
$ua-base0B: #99cc99;
$ua-base0C: #66cccc;
$ua-base0D: #6699cc;
$ua-base0E: #cc99cc;
$ua-base0F: #d27b53;
